---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-ai
spec:
  interval: 30m
  chart:
    spec:
      chart: kubernetes/apps/ai/local-ai/chart
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
  values:
    deployment:
      image:
        repository: quay.io/go-skynet/local-ai
        tag: latest
      env:
        LOCALAI_EXTERNAL_BACKENDS: "llama-cpp"
      strategy:
        type: Recreate

    persistence:
      models:
        enabled: true
        existingClaim: local-ai-models
        globalMount: /models
      output:
        enabled: true
        existingClaim: local-ai-output
        globalMount: /tmp/generated
      backends:
        enabled: true
        existingClaim: local-ai-backends
        globalMount: /usr/share/localai/backends
