---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
spec:
  interval: 30m
  chart:
    spec:
      chart: vault
      version: 0.30.1
      sourceRef:
        kind: HelmRepository
        name: hashicorp
  values:
    global:
      tlsDisable: true
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m

    server:
      resources:
        requests:
          memory: 8Gi
          cpu: 2000m
        limits:
          memory: 16Gi
          cpu: 2000m

      readinessProbe:
        enabled: true
        path: "/v1/sys/health?standbyok=true&activecode=200&standbycode=200"
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 3
        timeoutSeconds: 3

      livenessProbe:
        enabled: true
        path: "/v1/sys/health?standbyok=true&activecode=200&standbycode=204&sealedcode=204&uninitcode=204&drsecondarycode=204"
        initialDelaySeconds: 30
        periodSeconds: 10
        failureThreshold: 6
        timeoutSeconds: 3

      extraEnvironmentVars:
        VAULT_CACERT: /vault/userconfig/tls-ca/ca.crt

      extraVolumes:
        - type: secret
          name: tls-server
        - type: secret
          name: tls-ca
        - type: secret
          name: tls-ingress

      dataStorage:
        enabled: true
        storageClass: ceph-critical

      auditStorage:
        enabled: true
        storageClass: ceph-low

      standalone:
        enabled: false

      ingress:
        enabled: true
        hosts:
          - host: vault.home.mattprovost.dev
            paths:
              - "/"

      ha:
        enabled: true
        replicas: 3

        raft:
          enabled: true
          setNodeId: true

          config: |
            ui = true
            cluster_name = "homelab"

            api_addr     = "http://$(POD_IP):8200"
            cluster_addr = "http://$(POD_IP):8201"

            listener "tcp" {
              address = "0.0.0.0:8200"
              cluster_address = "0.0.0.0:8201"
              tls_disable = 1
              # tls_cert_file = "/vault/userconfig/tls-server/tls.crt"
              # tls_key_file = "/vault/userconfig/tls-server/tls.key"

              telemetry {
                disable_hostname = true
                prometheus_retention_time = "12h"
                unauthenticated_metrics_access = true
              }
            }

            storage "raft" {
              path = "/vault/data"
              retry_join {
                leader_api_addr = "http://vault-0.vault-internal:8200"
                # leader_ca_cert_file = "/vault/userconfig/tls-ca/ca.crt"
                # leader_client_cert_file = "/vault/userconfig/tls-server/tls.crt"
                # leader_client_key_file = "/vault/userconfig/tls-server/tls.key"
              }
              retry_join {
                leader_api_addr = "http://vault-1.vault-internal:8200"
                # leader_ca_cert_file = "/vault/userconfig/tls-ca/ca.crt"
                # leader_client_cert_file = "/vault/userconfig/tls-server/tls.crt"
                # leader_client_key_file = "/vault/userconfig/tls-server/tls.key"
              }
              retry_join {
                leader_api_addr = "http://vault-2.vault-internal:8200"
                # leader_ca_cert_file = "/vault/userconfig/tls-ca/ca.crt"
                # leader_client_cert_file = "/vault/userconfig/tls-server/tls.crt"
                # leader_client_key_file = "/vault/userconfig/tls-server/tls.key"
              }
            }

            service_registration "kubernetes" {}

    ui:
      enabled: true

    serverTelemetry:
      serviceMonitor:
        enabled: true
      prometheusRules:
        enabled: true
        rules:
          - alert: vault-HighResponseTime
            annotations:
              message: The response time of Vault is over 500ms on average over the last 5 minutes.
            expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 500
            for: 5m
            labels:
              severity: warning
          - alert: vault-HighResponseTime
            annotations:
              message: The response time of Vault is over 1s on average over the last 5 minutes.
            expr: vault_core_handle_request{quantile="0.5", namespace="mynamespace"} > 1000
            for: 5m
            labels:
              severity: critical
