---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: mimir
spec:
  interval: 10m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 6.0.3
  url: oci://ghcr.io/grafana/helm-charts/mimir-distributed
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mimir
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: mimir
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  valuesFrom:
    - targetPath: mimir.structuredConfig.common.storage.s3.endpoint
      kind: ConfigMap
      name: &bucketSource mimir-bucket
      valuesKey: BUCKET_HOST
    - targetPath: mimir.structuredConfig.common.storage.s3.region
      kind: ConfigMap
      name: *bucketSource
      valuesKey: BUCKET_REGION
    - targetPath: mimir.structuredConfig.common.storage.s3.bucket_name
      kind: ConfigMap
      name: *bucketSource
      valuesKey: BUCKET_NAME
    - targetPath: mimir.structuredConfig.common.storage.s3.access_key_id
      kind: Secret
      name: *bucketSource
      valuesKey: AWS_ACCESS_KEY_ID
    - targetPath: mimir.structuredConfig.common.storage.s3.secret_access_key
      kind: Secret
      name: *bucketSource
      valuesKey: AWS_SECRET_ACCESS_KEY
  values:
    # bucket credentials are inserted in plaintext here
    configStorageType: Secret

    minio:
      enabled: false

    mimir:
      structuredConfig:
        multitenancy_enabled: true

        common:
          storage:
            backend: s3
            s3:
              insecure: true

        blocks_storage:
          backend: s3
          tsdb:
            dir: /data/mimir/tsdb
          storage_prefix: blocks

        alertmanager_storage:
          backend: s3
          storage_prefix: alertmanager

        ruler_storage:
          backend: s3
          storage_prefix: ruler

        compactor:
          data_dir: /data/mimir/compactor

        limits:
          accept_ha_samples: true
          ha_cluster_label: cluster
          ha_replica_label: __replica__
          compactor_blocks_retention_period: 30d
          ingestion_rate: 200000
          ingestion_burst_size: 400000
          max_global_series_per_user: 5000000
          out_of_order_time_window: 30m
          max_cache_freshness: 30m
          ruler_max_rule_groups_per_tenant: 2000
          ruler_max_rules_per_rule_group: 200
          native_histograms_ingestion_enabled: true

        frontend:
          query_result_response_format: protobuf

        distributor:
          ha_tracker:
            enable_ha_tracker: true
            kvstore:
              store: memberlist

        ingester:
          push_grpc_method_enabled: true

        ingest_storage:
          enabled: false

        ruler:
          alertmanager_url: http://mimir-alertmanager.observability.svc:8080
          enable_api: true
        alertmanager:
          external_url: https://alertmanager.home.mattprovost.dev
          http_prefix: /

    distributor:
      replicas: 2

    ingester:
      replicas: 3
      persistentVolume:
        storageClass: ceph-regular
        size: 25Gi

    compactor:
      replicas: 1
      persistentVolume:
        storageClass: ceph-regular
        size: 60Gi

    store_gateway:
      replicas: 2
      persistentVolume:
        storageClass: ceph-regular
        size: 40Gi

    kafka:
      enabled: false

    querier:
      replicas: 2

    query_frontend:
      replicas: 2

    query_scheduler:
      replicas: 2

    ruler:
      replicas: 2

    alertmanager:
      replicas: 2
      fallbackConfig: |
        receivers:
          - name: gotify
            webhook_configs:
              - url: http://alertmanager-gotify-bridge.observability.svc.cluster.local/webhook
                send_resolved: true
        route:
          receiver: gotify

    nginx:
      replicas: 2

    metaMonitoring:
      serviceMonitor:
        enabled: true
