---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: k8s-monitoring
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 3.6.1
  url: oci://ghcr.io/grafana/helm-charts/k8s-monitoring
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-monitoring
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: k8s-monitoring
  dependsOn:
    - name: mimir
      namespace: observability
    - name: loki
      namespace: observability
  values:
    cluster:
      name: main

    destinations:
      - name: mimir
        type: prometheus
        url: http://mimir-gateway.observability.svc.cluster.local/api/v1/push
        extraHeaders:
          X-Scope-OrgID: anonymous
      - name: loki
        type: loki
        url: http://loki-gateway.observability.svc.cluster.local/loki/api/v1/push

    clusterMetrics:
      enabled: true
      controlPlane:
        enabled: true

    clusterEvents:
      enabled: true

    nodeLogs:
      enabled: true

    podLogs:
      enabled: true

    alloy-metrics:
      enabled: true

    alloy-logs:
      enabled: true

    alloy-singleton:
      enabled: true

    prometheusOperatorObjects:
      enabled: true
      crds:
        deploy: true

    integrations:
      destinations:
        - mimir
      grafana:
        instances:
          - name: grafana
            labelSelectors:
              app.kubernetes.io/name: grafana
      loki:
        instances:
          - name: loki
            labelSelectors:
              app.kubernetes.io/name: loki
            logs:
              enabled: true
      mimir:
        instances:
          - name: mimir
            labelSelectors:
              app.kubernetes.io/name: mimir
            logs:
              enabled: true

    selfReporting:
      enabled: false
