# yaml-language-server: $schema=https://raw.githubusercontent.com/prymitive/karma/main/docs/schema.json
alertmanager:
  interval: 1m
  servers:
    - name: mimir
      uri: http://mimir-alertmanager.observability.svc.cluster.local:8080
      proxy: true
# annotations:
#   default:
#     hidden_suffixes:
#       - _job
filters:
  default:
    - "cluster=main"
grid:
  sorting:
    order: label
karma:
  name: Homelab Alert Console
labels:
  color:
    static:
      - job
  keep:
    - cluster
    - namespace
    - pod
listen:
  address: 0.0.0.0
  port: 8080
log:
  config: true
  level: info
silenceForm:
  strip:
    labels:
      - pod
      - container
