---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: samba
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      samba:
        containers:
          app:
            image:
              repository: ghcr.io/dockur/samba
              tag: 4.22.6

            env:
              - name: USER
                value: samba
              - name: PASS
                valueFrom:
                  secretKeyRef:
                    name: samba-secret
                    key: SAMBA_PASSWORD

            ports:
              - name: smb
                containerPort: 445
                protocol: TCP

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi

    service:
      smb:
        controller: samba
        type: LoadBalancer
        annotations:
          "lbipam.cilium.io/ips": "10.1.3.10"
        labels:
          well-known: "true"
        ports:
          smb:
            port: 445
            targetPort: 445
            protocol: TCP

    persistence:
      media:
        existingClaim: media
        globalMounts:
          - path: /storage
