groups:
  #
  # zigbee2mqtt
  #
  - name: zigbee2mqtt
    rules:
      - alert: ZigbeeUnableToReachMQTT
        expr: |
          sum(count_over_time({app="zigbee2mqtt"} |~ "(?i)not connected to mqtt server"[2m])) > 0
        for: 2m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "Zigbee2mqtt is unable to reach MQTT"
  #
  # *arr
  #
  - name: arr
    rules:
      - alert: ArrDatabaseIsLocked
        expr: |
          sum by (app) (count_over_time({app=~".*arr"} |~ "(?i)database is locked"[2m])) > 0
        for: 2m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "{{ $labels.app }} is experiencing locked database issues"
      - alert: ArrDatabaseIsMalformed
        expr: |
          sum by (app) (count_over_time({app=~".*arr"} |~ "(?i)database disk image is malformed"[2m])) > 0
        for: 2m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "{{ $labels.app }} is experiencing malformed database disk image issues"
  #
  # home-assistant
  #
  - name: home-assistant
    rules:
      - alert: HomeAssistantUnableToReachPostgresql
        expr: |
          sum by (app) (count_over_time({app="home-assistant"} |~ "(?i)error in database connectivity"[2m])) > 0
        for: 2m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "Home Assistant is unable to connect to postgresql"
  #
  # cephfs
  #
  - name: cephfs
    rules:
      - alert: CephFSFuseTransportEndpointDisconnected
        expr: |
          sum(
            count_over_time(
              {namespace="rook-ceph"} |~ "(?i)transport endpoint is not connected"[5m]
            )
          ) > 0
        for: 5m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "CephFS FUSE mount disconnected (transport endpoint not connected)"
      - alert: CephFSFuseCorruptedMountDetected
        expr: |
          sum(
            count_over_time(
              {namespace="rook-ceph"} |~ "(?i)corrupted mount detected"[5m]
            )
          ) > 0
        for: 5m
        labels:
          severity: critical
          category: logs
        annotations:
          summary: "CephFS CSI detected a corrupted FUSE mount"
