---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tempo
  namespace: observability
  labels:
    app.kubernetes.io/name: tempo
    app.kubernetes.io/instance: tempo
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: tempo
      app.kubernetes.io/instance: tempo
  endpoints:
    - port: prom-metrics
      interval: 30s
      path: /metrics
      scheme: http
