---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
configMapGenerator:
  - name: karma-config
    files:
      - karma.yaml=./resources/karma.yaml
    options:
      disableNameSuffixHash: true
      labels:
        app.kubernetes.io/name: karma
