---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lumos
spec:
  interval: 30m
  chart:
    spec:
      chart: kubernetes/apps/home/lumos/chart
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/bsfishy/lumos
      tag: "main-91fd73c"

    env:
      MQTT_BROKER: mqtt://mosquitto.home.svc.cluster.local:1883

    config:
      timestep: "1s"
      transition:
        min: "10s"
        max: "30s"
      hold:
        min: "0s"
        max: "30s"

      groups:
        # # ambient
        # - colors:
        #     # tailwind 500 shade just going down the list
        #     - "oklch(63.7% 0.237 25.331)" # red
        #     - "oklch(70.5% 0.213 47.604)" # orange
        #     - "oklch(76.9% 0.188 70.08)" # amber
        #     - "oklch(79.5% 0.184 86.047)" # yellow
        #     - "oklch(76.8% 0.233 130.85)" # lime
        #     - "oklch(72.3% 0.219 149.579)" # green
        #     - "oklch(69.6% 0.17 162.48)" # emerald
        #     - "oklch(70.4% 0.14 182.503)" # teal
        #     - "oklch(71.5% 0.143 215.221)" # cyan
        #     - "oklch(68.5% 0.169 237.323)" # sky
        #     - "oklch(62.3% 0.214 259.815)" # blue
        #     - "oklch(58.5% 0.233 277.117)" # indigo
        #     - "oklch(60.6% 0.25 292.717)" # violet
        #     - "oklch(62.7% 0.265 303.9)" # purple
        #     - "oklch(66.7% 0.295 322.15)" # fuchsia
        #     - "oklch(65.6% 0.241 354.308)" # pink
        #     - "oklch(64.5% 0.246 16.439)" # rose

        # warm mornings and evenings
        # priority is top to bottom, so this is the first schedule that applies
        - colors:
            # red
            - "oklch(88.5% 0.062 18.334)"
            # orange
            - "oklch(90.1% 0.076 70.697)"
            # amber
            - "oklch(92.4% 0.12 95.746)"
            # yellow
            - "oklch(94.5% 0.129 101.54)"
          # time:
          #   fade_in:
          #     start: "7:00PM"
          #     end: "10:00PM"
          #   fade_out:
          #     start: "8:00AM"
          #     end: "10:00AM"

        # # halloween
        # - colors:
        #     # Orange
        #     - "oklch(55.3% 0.195 38.402)"
        #     - "oklch(64.6% 0.222 41.116)"
        #     - "oklch(70.5% 0.213 47.604)"
        #     # Amber
        #     - "oklch(55.5% 0.163 48.998)"
        #     - "oklch(66.6% 0.179 58.318)"
        #     - "oklch(76.9% 0.188 70.08)"
        #
        #     # Fuchsia
        #     - "oklch(51.8% 0.253 323.949)"
        #     - "oklch(66.7% 0.295 322.15)"
        #     # Purple
        #     - "oklch(49.6% 0.265 301.924)"
        #     - "oklch(62.7% 0.265 303.9)"
        #     # Violet
        #     - "oklch(49.1% 0.27 292.581)"
        #     - "oklch(60.6% 0.25 292.717)"
        #   date:
        #     fade_in:
        #       start: "10-01"
        #       end: "10-20"
        #     fade_out:
        #       start: "11-01"
        #       end: "11-07"
